/* Estilo para el contenedor principal */
.fildiv {
    background-color: #1a1b1baf; /* Cambia el color de fondo según tus preferencias */
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

/* Estilo para las opciones cuando se seleccionan */
option:checked {
    background-color: #fffafa00; /* Cambia el color de fondo de la opción seleccionada */
    
}

.divselect{
    width: 100%;
}