.image{
    width: 300px;
    height: 200px;
}

.card{
    background-color: black;
    color: aliceblue;
    width: 300px;
    height: 400px;
    margin-bottom: 1rem;
}
.card-title{
    font-family: "miFuente";
}