.Home{
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: repeat;
    align-items: center;
    height: 100%;

}
.span{
  color: rgb(247, 243, 243);
  background-color: rgb(31, 30, 28);
  font-size: 2rem;
  font-family: "MiFuente";
  margin-left: 1rem;
  margin-right: 0.5rem;
}