.nav{
    width: 80%;
    background-color: rgba(7, 7, 7, 0.616);
    padding: 10px 0;
}
.nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a lo largo del navbar */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
  .nav li {
    margin: 0 10px; /* Añade espacio entre los elementos de la lista */
  }
  
  .nav a {
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
    color: white; /* Cambia el color del texto */
    font-weight: bold; /* Opcional: Cambia el peso de la fuente */
    font-size: 18px; /* Opcional: Cambia el tamaño de la fuente */
  }
  
  .nav button {
    background-color: transparent; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    color: white; /* Cambia el color del texto del botón */
    font-weight: bold; /* Opcional: Cambia el peso de la fuente del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }