/* Estilo para el formulario */

* {
  box-sizing: border-box;
}
.divform {
  display: flex;
  justify-content: center;

 
}
.divbuton{
  display: flex;
}
.divgeneral{
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/img/fondoForm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.form {
  width: 30%;
  height: 95%;
  margin-top: 3rem;
  padding: 1.5rem;
  box-shadow: 2px 2px 2px 0px rgb(119, 41, 41);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: "MiFuente";
  color: #fff;

}

/* Estilo para los campos de entrada de texto */
input[type="text"],
input[type="date"],
input[type="number"],
input{
  font-family: "MiFuente";
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  width: 60%;
}
textarea {
  width: 60%;
  margin-bottom: 5px;
  border: 1px solid #720202;
  border-radius: 3px;
  font-size: 1rem;
  resize: none;
  padding: 0.3rem;
}
select {
  width: 60%;
  padding: 0.3rem;
  font-family: "MiFuente";
  margin-bottom: 1rem;
  border: 1px solid #720202;
  border-radius: 0.3rem;
  font-size: 1rem;
}

/* Estilo para las etiquetas */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

/* Estilo para el botón */
button[type="submit"] {
  width: 60%;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}
/* Estilo para el botón habilitado */
button[type="submit"]:enabled {
  background-color: rgb(65, 0, 0); /* Cambia el color de fondo cuando está habilitado */
}

/* Estilo para el botón deshabilitado */
button[type="submit"]:disabled {
  background-color: lightgray; /* Cambia el color de fondo cuando está deshabilitado */
  color: gray; /* Cambia el color del texto cuando está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
}

.btn {
  --glow-color: rgb(255, 188, 176);
  --glow-spread-color: rgba(255, 149, 123, 0.781);
  --enhanced-glow-color: rgb(255, 239, 206);
  --btn-color: rgb(12, 10, 14);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 25px;
  margin-top: 50px;
  font-family: 'MiFuente';
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }

 